<%= form_for @chat do |f| %>
    <div>
    <%= f.label :username %>
    <%= f.text_field :username %>
    </div>
    <div>
    <%= f.label :mail %>
    <%= f.text_field :mail %>
    </div>

<%= f.submit %>
</div>
    <% end %>